header ul li:hover a {
  transform: translateY(-10px);
  translate: 0.3 all;
}

#mobileHeader{
  /* From https://css.glass */
background:#c9b8ac93;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
#mobileHeader  ul li:hover a {
  transform: translateY(-5px);
  translate: 0.3 all;
}
/*
#c1905a - Warm Caramel (Saved color)
#8b5e3c - Rich Brown
#f5e1da - Soft Beige
#4e342e - Dark ChocolatE
Beige: #F5F5DC
Tan: #D2B48C 
Burlywood: #DEB887
Wheat: #F5DEB3
Sandy Brown: #F4A460
#d7ccc8 - Light Ash Brown
#2d1b1b - Charred Brown
*/